In [2]:
import numpy as np
import pandas as pd

In [3]:
eng_data1= pd.read_csv("./emotion/tweet_emotions.csv")
eng_data2 = pd.read_csv("./emotion/영어 평서문 라벨링 데이터.txt", sep=';', header=None)
kor_data1= pd.read_excel("./emotion/한국어_단발성_대화_데이터셋_라벨 6개로 축소.xlsx")
kor_data2= pd.read_excel("./emotion/감성대화말뭉치(최종데이터)_Training.xlsx")
kor_data3= pd.read_excel("./emotion/감성대화말뭉치(최종데이터)_Validation.xlsx")

In [16]:
eng_data1

                                                 content   sentiment
0      @tiffanylue i know  i was listenin to bad habi...       empty
1      Layin n bed with a headache  ughhhh...waitin o...     sadness
2                    Funeral ceremony...gloomy friday...     sadness
3                   wants to hang out with friends SOON!  enthusiasm
4      @dannycastillo We want to trade with someone w...     neutral
...                                                  ...         ...
39995                                   @JohnLloydTaylor     neutral
39996                     Happy Mothers Day  All my love        love
39997  Happy Mother's Day to all the mommies out ther...        love
39998  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...   happiness
39999  @mopedronin bullet train from tokyo    the gf ...        love

[40000 rows x 2 columns]

In [15]:
eng_data1=eng_data1[["content","sentiment"]]

In [8]:
eng_data2

                                                      0        1
0     im feeling rather rotten so im not very ambiti...  sadness
1             im updating my blog because i feel shitty  sadness
2     i never make her separate from me because i do...  sadness
3     i left with my bouquet of red and yellow tulip...      joy
4       i was feeling a little vain when i did this one  sadness
...                                                 ...      ...
1995  i just keep feeling like someone is being unki...    anger
1996  im feeling a little cranky negative after this...    anger
1997  i feel that i am useful to my people and that ...      joy
1998  im feeling more comfortable with derby i feel ...      joy
1999  i feel all weird when i have to meet w people ...     fear

[2000 rows x 2 columns]

In [10]:
kor_data1["Emotion"].value_counts()

Emotion
분노    11094
행복     6037
놀람     5898
공포     5468
슬픔     5267
중립     4830
Name: count, dtype: int64

In [12]:
kor_data2["감정_대분류"].value_counts()

감정_대분류
불안    9320
분노    9160
상처    9143
슬픔    9125
당황    8756
기쁨    6126
Name: count, dtype: int64

In [11]:
kor_data3["감정_대분류"].value_counts()

감정_대분류
분노    1257
기쁨    1213
불안    1113
당황    1048
상처    1007
슬픔    1003
Name: count, dtype: int64